<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>About</h1>
  <p><img src="/nn.svg?src=[about]->[this]"></p>

  <p>A <a href="https://www.nomnoml.com/">nomnoml</a> rendering service</p>
  <p>Include images in github readme files by passing nomnoml src to the parameter or as a gist.</p>

  <h2>Examples:</h2>
  <p>
  <pre>&lt;img src="/nn.svg?src=[about]->[this]"&gt;</pre>
  </p>
</body>

</html>